<%- include('header') %>

<%- include('slidebar') %>
<%- include('navbar') %>

<div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">search</i>
        <input id="search" type="text" class="validate">
        <label for="search">Recherche</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">subject</i>
        <select ic="category">
          <option value="" disabled selected>Catégorie</option>
          <option value="1">Auto Moto</option>
          <option value="2">Electronic</option>
          <option value="3">Bricolage</option>
        </select>
      </div>
    </div>
  </form>
</div>

<div class="input-field col s12">

</div>


<%- include('footer') %>
