<nav>
  <div class="nav-wrapper">
    <a href="#!" class="breadcrumb">Cuanto</a>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="users/signin">Connexion</a></li>
    </ul>
  </div>
</nav>
