<ul id="slide-out" class="side-nav">
  <li><a href="#!">Mon compte</a></li>
  <li><a href="#!">Mes alertes</a></li>
  <li><a href="#!">Mes annonces</a></li>
  <li><a href="#!">A propos</a></li>
</ul>
